/* Explore The elearning  */


.p-hub-explore-color {
    background-color: #F4FAFD;
}



/* footer  */

.p-hub-footer-color {
    background-color: #161616;
}



/* responsive  */

@media only screen and (max-width:576px) {

    #register {
        display: none;
    }

    #btn-register {
        display: none;
    }

    #show {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width:577px) and (max-width:992px) {

    #register {
        display: none;
    }

}