/* Explore The elearning  */


.p-hub-explore-color {
    background-color: #F4FAFD;
}



/* footer  */

.p-hub-footer-color {
    background-color: #161616;
}



/* responsive  */

@media screen and (min-width:576px) {

    #register {
        display: none;
    }

}